button{
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.484);
    letter-spacing: 1px;
    border-radius: 20px;
    padding:10Px 30px;
    color: black;
}