button{
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: "font-2";
    font-weight: 600;
    transition: 1s;
   &:hover{
    background-color: rgba(128, 128, 128, 0.516);
   }
   & i{
    padding: 0px 5px;
   }
}