.contact-list
{
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    
    & .list{
        width: 24%;
        & h5{
            text-transform: uppercase;
            font-family: "font-1";
            font-size: 1.3rem;
            margin-bottom: 15px;
        }
        & ul{
            
        }
        & a{
            text-decoration: none;
            color: blueviolet;
            font-weight: bold;
            line-height: 30px;
            font-size: 1rem;
        }
        & p{
            font-weight: bold;
            word-spacing: 2px;
            font-size: 1rem;
            line-height: 1.3rem;
            margin-bottom: 10px;
        }
        & h6{
            font-size: 0.8rem;
            margin: 10px auto;
        }
        & #espace-bas{
            margin-bottom: 30px;
        }
        & .network{
            margin: 0px 0px 8px 0px;
        }
        & .footer-logos{
            display: flex;
            justify-content: space-between;
            width: 48%;
            margin-bottom: 40px;
        }
    }
}